@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
}

@media (max-width: 576px) {
  .card {
    flex-direction: column;
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1280px;
  }
}

header {
  border-bottom: 1px solid #1f2937;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li.logo p {
  color: #ffffff;
  font-family: Inter;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

a {
  color: #d1d5db;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.container-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.container-home {
  padding: 85px 0 150px 0;
}

.container-home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-home img {
  width: 592px;
  height: 600px;
  border-radius: 8px;
}

.container-text-home {
  width: 50%;
}

.img-container {
  width: 50%;
}

.container-text-home h1 {
  width: 360px;
  color: #ffffff;
  font-weight: 900;
  font-size: 96px;
  line-height: 96px;
}

.container-text-home span {
  color: #dc2626;
}

.container-text-home p {
  width: 485px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #d1d5db;
  margin-top: 125px;
}

.container-buttons {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.btn-buy-now {
  background-color: #dc2626;
  color: #ffffff;
  cursor: pointer;
  border: none;
  width: 211px;
  height: 64px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.btn-explore {
  background-color: #000000;
  color: #ffffff;
  width: 259px;
  height: 64px;
  border-width: 2px;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.container-highlights {
  background-color: #111827;
  padding: 80px 0;
}

.container-highlights-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-highlights-text h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.container-highlights-text p {
  color: #9ca3af;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-top: 5px;
  text-align: center;
}

.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 64px;
}

.card-shoes {
  width: 100%;
  max-width: 389px;
}

.card-shoes img {
  width: 100%;
  max-width: 389px;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  width: 100%;
  max-width: 389px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 24px;
}

.card-content h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}

.card-content p {
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.container-price-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-price-button p {
  color: #dc2626;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.container-price-button button {
  width: 114px;
  height: 40px;
  background-color: #dc2626;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border: 3px solid transparent;
  line-height: 100%;
  text-align: center;
}

.container-price-button button:hover {
  border: 3px solid #dc2626;
  background-color: transparent;
}

.container-news .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 138px;
}

.container-news .container h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
}

.container-news .container p {
  width: 582px;
  font-weight: 400;
  font-size: 20px;
  color: #9CA3AF;
  margin-top: 13px;
  line-height: 28px;
}

.container-border-news {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 32px;
  list-style: none;
  padding: 0;
}

.list li {
  display: flex;
  align-items: center;
  position: relative;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  padding-left: 25px;
  margin-bottom: 10px;
}

.list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #dc2626;
  border-radius: 999px;
}

.container-news .container button {
  width: 211px;
  height: 60px;
  background-color: #DC2626;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  margin-top: 32px;
}

.container-inspiration {
  background-color: #111827;
  padding: 80px 0;
}

.container-inspiration h1 {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.container-inspiration p {
  color: #9CA3AF;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 5px;
}

.container-card-inspiration {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  gap: 32px;
}

.card-inspiration {
  width: 100%;
  max-width: 389px;
  background-color: #000000;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-inspiration img {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
}

.card-inspiration p {
  width: 259px;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
}

.card-inspiration .name {
  color: #dc2626;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}


.container-start {
  width: 100%;
  padding: 80px 0;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start h1 {
  width: 445px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
}

.start p {
  color: #D1D5DB;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 12px;
}


.container-start span {
  color: #DC2626;
}

.container-start button {
  width: 280px;
  height: 76px;
  background-color: #DC2626;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 32px;
}