@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
}

@media (max-width: 576px) {
  .card {
    flex-direction: column;
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1280px;
  }
}

header {
  border-bottom: 1px solid #1f2937;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo p {
  color: #ffffff;
  font-family: Inter;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

a {
  color: #d1d5db;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.container-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.container-home {
  padding: 85px 0 150px 0;
}

.container-home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-home img {
  width: 592px;
  height: 600px;
  border-radius: 8px;
}

.container-text-home {
  width: 50%;
}

.img-container {
  width: 50%;
}

.container-text-home h1 {
  width: 360px;
  color: #ffffff;
  font-weight: 900;
  font-size: 96px;
  line-height: 96px;
}

.container-text-home span {
  color: #dc2626;
}

.container-text-home p {
  width: 485px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #d1d5db;
  margin-top: 125px;
}

.container-buttons {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.btn-buy-now {
  background-color: #dc2626;
  color: #ffffff;
  cursor: pointer;
  border: none;
  width: 211px;
  height: 64px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.btn-explore {
  background-color: #000000;
  color: #ffffff;
  width: 259px;
  height: 64px;
  border-width: 2px;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}
